* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  header {
    height: 65px;
    background-color:aqua;
    margin: 30px;
  }
    div {
    display:flex ;
    justify-content: center;
    margin: 25px;
    gap: 25px;
    }
  
  aside {
    flex: 1;
    max-width: 76%;
    height:190px;
    background-color: rgba(253, 7, 81, 0.788);
  } 
    
  
  .rodape2{
    display: flex; 
    justify-content: center;
  } 
   menu{
    flex: 2;
    max-width:24%;
    height:290px;
    background-color: aqua;
  
  
  }  
     footer {
     flex: 2; 
     max-width:24%;
     height:290px;
     background-color: aqua;
  } 
  
  nav {
    flex: 2;
    max-width: 24%;
    height:290px;
    background-color: aqua;
  
  }  