
body {
    background-color: white;
    font: normal 15pt Arial;
}

header {
    color: rgb(0, 0, 0);
    text-align: center;
}

main {
    background-color: rgb(0, 116, 248);
    border-radius: 10px;
    padding: 10px;
    max-width: 500px;
    margin: auto;
    text-align: center;
    box-shadow: 5px 5px 1px black;
    max-height: 200px;
}

footer {
    color: white;
    font-style: italic;
    text-align: center;
    margin-top: 20px;
}
input{
     border: 100px;
     padding: 15px;
     width: 400px;
     text-align: center;
    
}