body{
    background-color: rgba(84, 85, 85, 0.479);
}

h1{
    margin-top: 30px;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}

button {
    background-color: rgb(14, 226, 233);
    margin-top: 30px;
    margin-left: 30%;
    width: 40%;
    height: 70px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease; /* Adiciona uma transição suave */
}

button:hover {
    background-color: rgb(5, 119, 113);
    transform: scale(1.1); /* Aumenta o tamanho do botão em 10% quando o mouse passa sobre */
}
footer{
    margin-top: 100px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}